.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    padding: 50px 20px;
    box-sizing: border-box;
}

.contenido {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedorTitulos {
    text-align: left;
    margin-bottom: 20px;
}

.contenedorTitulos h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.contenedorTitulos h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}

#mi-formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nombre-apellido-group {
    display: flex;
    justify-content: space-between;
}

.nombre-apellido-group .col {
    flex: 1;
    margin-right: 10px;
}

.nombre-apellido-group .col:last-child {
    margin-right: 0;
}

.customLabel {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

#areaTexto {
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: white;
    background-color:white ;
}

.botonEnviar {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.botonEnviar:hover {
    background-color: #333;
}

.imagen-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}



@media (max-width: 1024px) {
    .contenedor {
        flex-direction: column;
        padding: 20px;
    }

    .contenido, .imagen-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contenedorTitulos h1 {
        font-size: 2em;
    }

    .contenedorTitulos h3 {
        font-size: 1.2em;
    }

    .botonEnviar {
        font-size: 1em;
    }
}