.tituloRegistro {
	color: #000000;
	font-weight: bold;
	font-size: 3.5rem; /* Aumenta el tamaño de la fuente */
	text-align: center; /* Centra el texto */
	text-shadow: 2px 2px 4px rgba(92, 207, 252, 0.774); /* Añade sombra al texto */
}

/* Estilos generales */
.form-group {
	margin-bottom: 20px;
}

.text-muted {
	font-size: 14px;
	color: #6c757d;
}

/* Estilos para etiquetas */
.form-label {
	color: #000000;
	font-weight: bold;
}

/* Estilos para inputs */
.form-control {
	border-radius: 5px;
	border-color: #000000;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: 0 0 0 0.2rem rgba(59, 242, 248, 0.863);
}

/* Estilos para checkbox */
.form-check-label {
	color: #006172;
	font-weight: bold;
}

/* Estilos para botón */
.btn-primary {
	min-width: 100px;
	height: 46px;
	line-height: 36px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: #fff;
	overflow: hidden;
	border: 2px solid #1191b1;
	color: #000000;
}

.btn-primary:hover {
	color: #fff;
	border-color: #000000;
}

.btn-primary:hover::after {
	width: 100%;
}

.btn-primary:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #23b2c5;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(33, 139, 153, 0.5);
}

.registro-form-container {
	background-color: rgba(121, 195, 224, 0.753); /* Color de fondo con opacidad */
	padding: 10px;
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.registro-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.registro-image {
	width: 100%;
	height: 734px;
	object-fit: cover;
	border-radius: 30px;
}

@media (max-width: 991px) {
	.registro-form-container,
	.registro-image-container {
		height: auto;
	}

	.registro-form-container,
	.registro-image-container {
		border-radius: 30px;
	}

	.registro-image {
		border-radius: 30px;
		width: 90%;
		height: 90%;
	}
}

.password-container {
	position: relative;
}

.password-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
