.modal-editar-paciente .modal-content {
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-editar-paciente .modal-header {
	background-color: #007bff;
	color: #ffffff;
	border-bottom: none;
	border-radius: 15px 15px 0 0;
}

.modal-editar-paciente .modal-title {
	font-size: 1.5rem;
}

.modal-editar-paciente .modal-body {
	padding: 15px 20px;
}

.modal-editar-paciente .modal-footer {
	border-top: none;
	justify-content: flex-end;
}

.modal-editar-paciente .form-control {
	border: 1px solid #ced4da;
	border-radius: 5px;
}

.modal-editar-paciente .form-control:focus {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal-editar-paciente .btn-primary {
	background-color: #237ab4;
	border-color: #000000;
}

.modal-editar-paciente .btn-primary:hover {
	background-color: #0b2d9c;
	border-color: #000000;
}

.modal-editar-paciente .btn-secondary {
	background-color: #800404;
	border-color: #000000;
}

.modal-editar-paciente .btn-secondary:hover {
	background-color: #ff0000;
	border-color: #000000;
}
