.table-responsive {
	margin: 0 auto;
	padding: 10px;
	max-width: 100%;
	overflow-x: auto;
}

.tabla-usuarios {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgb(0, 0, 0);
	width: 90% !important;
	margin: 0 auto;
}

.tabla-usuarios th {
	background-color: #70098f !important;
	color: #ffffff !important;
	text-align: center;
}

.tabla-usuarios td {
	text-align: center;
	vertical-align: middle;
	padding: 12px;
}

.acciones-container {
	display: flex;
	justify-content: center !important;
	gap: 5px;
}

.table tbody td {
	vertical-align: middle;
}

.highlightUsuario {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 2.4rem;
	color: purple;
	margin: 20px 0;
	text-align: center;
	text-shadow: 0 1px 3px rgba(32, 146, 187, 0.668);
	text-decoration: underline;
}

button {
	transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
	transform: translateY(-2px);
}

.lista {
	margin-top: 2rem;
	margin-bottom: 16rem;
}

.text-center {
	text-align: center !important;
}

@media (max-width: 575.98px) {
	.table thead {
		display: none;
	}

	.table tbody tr {
		display: block;
		margin-bottom: 1rem;
		border: 1px solid #ddd;
	}

	.table tbody td {
		display: block;
		text-align: left;
		font-size: 0.8rem !important;
		border-bottom: 1px solid #ddd;
		position: relative;
		padding-left: 50%;
	}

	.table tbody td::before {
		content: attr(data-label);
		position: absolute;
		left: 10px;
		width: 45%;
		padding-right: 10px;
		text-align: left;
		font-weight: bold;
	}

	.table tbody td:last-child {
		border-bottom: 0;
	}

	button {
		font-size: 0.9rem !important;
		padding: 0.2rem 0.5rem !important;
	}

	.table tbody td[data-label='Acciones'] {
		padding-left: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.table tbody td[data-label='Acciones'] button {
		margin-bottom: 0.5rem;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.highlightUsuario {
		font-size: 2.4rem;
	}

	.table thead {
		display: none;
	}

	.table tbody tr {
		display: block;
		margin-bottom: 1rem;
		border: 1px solid #ddd;
	}

	.table tbody td {
		display: block;
		text-align: left;
		font-size: 1rem;
		border-bottom: 1px solid #ddd;
		position: relative;
		padding-left: 50%;
	}

	.table tbody td::before {
		content: attr(data-label);
		position: absolute;
		left: 10px;
		width: 45%;
		padding-right: 10px;
		text-align: left;
		font-weight: bold;
	}

	.table tbody td:last-child {
		border-bottom: 0;
	}

	button {
		font-size: 1rem;
		padding: 0.25rem 0.75rem;
	}

	.table tbody td[data-label='Acciones'] {
		padding-left: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.table tbody td[data-label='Acciones'] button {
		margin-bottom: 0.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.highlightUsuario {
		font-size: 2.4rem;
	}

	.table-responsive {
		overflow-x: auto;
	}

	.table thead th {
		font-size: 1rem;
	}

	.table tbody td {
		font-size: 1rem;
		padding: 0.45rem !important;
	}

	button {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
}

@media (min-width: 1200px) {
	.table tbody td {
		font-size: 0.9rem !important;
		padding: 0.75rem !important;
	}

	button {
		font-size: 1.2rem;
		padding: 0.75rem 1.5rem;
	}
}
