.nuevo-turno-button {
	background-color: #237ab4 !important; /* Color de fondo del botón */
	border-color: #000000 !important; /* Color del borde del botón */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde redondeado */
	padding: 10px 20px; /* Espaciado interno */
	font-size: 1rem; /* Tamaño de fuente */
	transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.nuevo-turno-button:hover {
	background-color: #3255c9 !important; /* Color de fondo al pasar el mouse */
	border-color: #000000 !important; /* Color del borde al pasar el mouse */
	color: #f0f0f0 !important; /* Color del texto al pasar el mouse */
}
