.publicidad-title {
	font-size: 2.9em;
	color: purple;
	margin: 20px 0;
	margin-top: 40px;
	transition: font-size 0.3s ease;
	font-weight: bolder;
	text-align: center;
	text-shadow: 0 1px 3px rgba(21, 168, 187, 0.719);
	text-decoration: underline;
}

.publicidad-item {
	position: relative;
	overflow: hidden;
}

.publicidad-image {
	max-width: 100%;
	max-height: 190px;
	object-fit: cover;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border-radius: 10px;
}

.publicidad-image:hover {
	transform: scale(1.1);
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
	.publicidad-title {
		font-size: 32px;
	}
}

@media (max-width: 576px) {
	.publicidad-title {
		font-size: 28px;
	}

	.publicidad-image {
		max-height: 150px;
	}
}
