.testimonios-title {
	font-size: 2.9em;
	color: purple;
	margin: 20px 0;
	margin-top: 40px;
	transition: font-size 0.3s ease;
	font-weight: bolder;
	text-align: center;
	text-shadow: 0 1px 3px rgba(21, 168, 187, 0.719);
	text-decoration: underline;
}
.testimonios-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden; /* Esto evitará el desplazamiento horizontal */
}

.img-container {
	padding: 12px;
	margin: 0;
}
.img-container p {
	text-align: center;
	padding: 0;
}

.img-container img {
	border-radius: 50%;
}

@media (max-width: 768px) {
	.img-container p {
		padding-left: 15px;
	}

	.testimonios-title {
		font-size: 32px;
	}
}

@media (max-width: 464px) {
	.testimonios-title {
		font-size: 32px;
	}
}
